.__about-me-section {
	text-align: justify;
}

._profile-picture {
	border-radius: 50%;
	width: 14.0625rem;
	aspect-ratio: 1/1;
	margin: 0 auto;
	filter:grayscale(100%);
}


a {
  color: var(--link);
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration-thickness: 2px;
}
