._thumbnail {
	max-height: 10rem;
	object-fit: cover;
	filter:grayscale(100%);
}

._title-date {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-block-end: var(--border-shorthand);
}

._image {
	display: block;
	margin: 1.5em auto;
	filter:grayscale(100%);
}

._quote {
	border-inline-start: 0.125rem solid var(--border-color);
	margin-inline: 0;
	padding-inline-start: 0.6875rem;
	padding-block: 0.125rem;
}

._bottom-navigation {
	display: flex;
	justify-content: center;
	margin-block-start: 1.3em;
	margin-block-end: 1em; /* Remove if #notice is not there. */
}

._bottom-navigation ul {
	display: flex;
	gap: 1.4rem;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

._bottom-navigation a { text-decoration: none; }

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #0b0b0b;

		--foreground: rgba(255, 255, 255, 0.88);
		--muted-foreground: rgba(255, 255, 255, 0.70);

		--border-color: rgba(255, 255, 255, 0.30);

		--link: rgba(170, 210, 255, 0.95);

		/* Buttons (invert hover) */
		--button-hover-foreground: rgba(0, 0, 0, 0.90);
		--button-hover-background: rgba(255, 255, 255, 0.85);

		/* Footer */
		--footer-bg: rgba(255, 255, 255, 0.10);
		--footer-fg: rgba(255, 255, 255, 0.90);
	}

	/* If you ever add form fields, this helps in dark mode */
	input, textarea, select, button {
		color-scheme: dark;
	}
}
